/*
 * Base layout
 */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: #101010;
}

#overscan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


/**
 * Custom fonts
 */

@font-face {
    font-family: 'UbuntuMono';
    src: url('UbuntuMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Satisfy';
    src: url('Satisfy-Regular.ttf') format('truetype');
}


/*
 * Animations
 */

@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes modalBoxIn {
    0% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes modalBoxOut {
    0% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(0.95);
    }
}
