/*
 * Modal dialogs
 */

#modal-root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    animation-fill-mode: forwards;
}

#modal-box {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 30px;
    border: solid 1px #1a1a1a;
    border-radius: 4px;
    background: #000;
    animation-fill-mode: forwards;
    margin-bottom: 5%;
    box-shadow: 0px 7px 15px 5px rgba(0,0,0,0.7);
    max-height: 80%;
}

#modal-content {
    flex: 1;
    padding: 5px;
    overflow: scroll;
}

#modal-buttons {
    display: flex;
    justify-content: right;
    width: 100%;
    gap: 20px;
}

#modal-buttons > g-button {
    width: 74px;
    height: 37px;
    border: solid 1px #fff;
    border-radius: 4px;
}

#modal-about {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 320px;
}

#modal-midi {
    width: 360px;
}

#modal-midi-map select {
    appearance: none;
    background: #000;
    color: #fff;
    font-family: UbuntuMono;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 20px;
}

.midi-map-entry {
    display: flex;
    align-items: center;
    gap: 10px;
}

.midi-map-target {
    width: 100px;
}

#modal-about a {
    color: #fff;
}

#modal-layout {
    width: 240px;
}

#modal-layout ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#modal-layout li {
    font-size: 1em;
    line-height: 3em;
    height: 3em;
    padding: 0 20px;
}

#modal-layout li:not(:first-child) {
    border-top: solid 1px #1a1a1a;
}
