/*
 * Base layout
 */

#main {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: UbuntuMono;
    font-size: 1em;
    background: #101010;
    color: #fff;
    overflow: hidden;
}

#layout {
    width: 100%;
    height: 100%;
    padding: 10px;
}

#layout g-button {
    transition: background-color 0.15s ease;
}

#layout g-knob {
    --body-color: #333;
    --range-color: #1a1a1a;
    --pointer-off-color: #000;
    --pointer-on-color: #eee;
}

#layout g-fader {
    --body-color: #333;
}


/*
 * Menu bar
 */

#menubar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 37px;
    background: #000;
}

#menubar g-button {
    height: 37px;
    padding: 0 16px;
    overflow: hidden;
}

#menubar-left {
    display: flex;
    justify-content: left;
    flex: 0.25;
}

#menubar-right {
    display: flex;
    justify-content: right;
    flex: 0.25;
}

#option-about {
    font-family: Satisfy;
    font-size: 1.25em;
    color: #fff;
}

#status {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.5;
    gap: 0.25em;
}

#status-text {
    white-space: pre;
    text-align: center;
}

#status-value-box {
    display: none;
    position: relative;
    background: #333;
    width: 140px;
    height: 3px;
}

#status-value {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fff;
    width: 50%;
    height: 100%;
}

/*
 * Phone layout tweaks
 */

@media (orientation: portrait) {
    .landscape {
        display: none !important; /* do not allow layout styles to override */
    }
}
