/*
 * Base layout
 */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: #1a1a1a;
    color: #fff;
    font-family: UbuntuMono;
    font-size: 1em;
    overflow: hidden;
}

g-knob {
    --body-color: #333;
    --range-color: #1a1a1a;
    --pointer-off-color: #000;
    --pointer-on-color: #eee;
}

g-fader {
    --body-color: #333;
}

#overscan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#main {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #101010;
}

#layout {
    width: 100%;
    height: 100%;
    padding: 10px;
}

#layout g-button {
    transition: background-color 0.15s ease;
}


/*
 * Menu bar
 */

#menubar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 37px;
    background: #000;
}

#menubar g-button {
    height: 37px;
    padding: 0 16px;
    overflow: hidden;
}

#menubar-left {
    display: flex;
    justify-content: left;
    flex: 0.25;
}

#menubar-right {
    display: flex;
    justify-content: right;
    flex: 0.25;
}

#option-about {
    font-family: Satisfy;
    font-size: 1.25em;
}

#status {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.5;
    gap: 0.25em;
}

#status-text {
    white-space: pre;
    text-align: center;
}

#status-value-box {
    display: none;
    position: relative;
    background: #333;
    width: 140px;
    height: 3px;
}

#status-value {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fff;
    width: 50%;
    height: 100%;
}


/*
 * Animations
 */

@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes modalBoxIn {
    0% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes modalBoxOut {
    0% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(0.95);
    }
}



/*
 * Phone layout tweaks
 */

@media (orientation: portrait) {
    .landscape {
        display: none !important; /* do not allow layout styles to override */
    }
}


/**
 * Custom fonts
 */

@font-face {
    font-family: 'UbuntuMono';
    src: url('UbuntuMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Satisfy';
    src: url('Satisfy-Regular.ttf') format('truetype');
}
