/*
 * Base layout
 */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-width: 800px;
    min-height: 540px;
    margin: 0;
    background: #1a1a1a;
    color: #fff;
    font-family: UbuntuMono;
    font-size: 1em;
}

g-knob {
    --body-color: #333;
    --range-color: #1a1a1a;
    --pointer-off-color: #000;
    --pointer-on-color: #eee;
}

g-fader {
    --body-color: #333;
}

#overscan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 540px;
    overflow: hidden;
    background: #101010;
}

#layout {
    width: 100%;
    height: 100%;
    padding: 10px;
}


/*
 * Top bar
 */

#topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 37px;
    background: #000;
}

#topbar g-button {
    height: 37px;
    padding: 0 20px;
    overflow: hidden;
}

#topbar-left {
    display: flex;
    justify-content: left;
    flex: 0.25;
}

#topbar-right {
    display: flex;
    justify-content: right;
    flex: 0.25;
}

#option-about {
    font-family: Satisfy;
    font-size: 1.25em;
}

#status {
    flex: 0.5;
    white-space: pre;
    text-align: center;
}


/*
 * Modal dialogs
 */

#modal-root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    animation-fill-mode: forwards;
}

#modal-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    border: solid 1px #1a1a1a;
    border-radius: 4px;
    background: #000;
    animation-fill-mode: forwards;
}

#modal-content {
    flex: 1;
}

#modal-buttons {
    display: flex;
    justify-content: right;
    width: 100%;
}

#modal-ok {
    width: 74px;
    height: 37px;
    border: solid 1px #fff;
    border-radius: 4px;
}

#modal-about {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px 30px 20px 30px;
}

#modal-about a {
    color: #fff;
}

#modal-about-text {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#modal-about-title {
    font-family: Satisfy;
    font-size: 2em;
}


/*
 * Animations
 */

@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes modalBoxIn {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes modalBoxOut {
    0% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(0.9);
    }
}



/*
 * Phone layout tweaks
 */

@media (orientation: portrait) {
    body {
        min-width: 400px;
    }

    #main {
        width: 400px;
    }

    .landscape {
        display: none;
    }
}


/**
 * Custom fonts
 */

@font-face {
    font-family: 'UbuntuMono';
    src: url('fonts/UbuntuMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Satisfy';
    src: url('fonts/Satisfy-Regular.ttf') format('truetype');
}
