/*
 * Base layout
 */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: #1a1a1a;
    color: #fff;
    font-family: UbuntuMono;
    font-size: 1em;
}

g-knob {
    --body-color: #333;
    --range-color: #1a1a1a;
    --pointer-off-color: #000;
    --pointer-on-color: #eee;
}

g-fader {
    --body-color: #333;
}

#overscan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#main {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #101010;
}

#layout {
    width: 100%;
    height: 100%;
    padding: 10px;
}

#layout g-button {
    transition: background-color 0.15s ease;
}


/*
 * Menu bar
 */

#menubar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 37px;
    background: #000;
}

#menubar g-button {
    height: 37px;
    padding: 0 16px;
    overflow: hidden;
}

#menubar-left {
    display: flex;
    justify-content: left;
    flex: 0.25;
}

#menubar-right {
    display: flex;
    justify-content: right;
    flex: 0.25;
}

#option-about {
    font-family: Satisfy;
    font-size: 1.25em;
}

#status {
    flex: 0.5;
    white-space: pre;
    text-align: center;
}


/*
 * Modal dialogs
 */

#modal-root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    animation-fill-mode: forwards;
}

#modal-box {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 30px;
    border: solid 1px #1a1a1a;
    border-radius: 4px;
    background: #000;
    animation-fill-mode: forwards;
}

#modal-content {
    flex: 1;
    padding: 5px;
}

#modal-buttons {
    display: flex;
    justify-content: right;
    width: 100%;
    gap: 20px;
}

#modal-buttons > g-button {
    width: 74px;
    height: 37px;
    border: solid 1px #fff;
    border-radius: 4px;
}

#modal-about {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 320px;
}

#modal-about a {
    color: #fff;
}

#modal-layout {
    width: 240px;
}

#modal-layout ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#modal-layout li {
    font-size: 1em;
    line-height: 3em;
    height: 3em;
    padding: 0 10px;
}

#modal-layout li:not(:first-child) {
    border-top: solid 1px #1a1a1a;
}

/*
 * Animations
 */

@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes modalBoxIn {
    0% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes modalBoxOut {
    0% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(0.95);
    }
}



/*
 * Phone layout tweaks
 */

@media (orientation: portrait) {
    .landscape {
        display: none !important; /* do not allow layout styles to override */
    }
}


/**
 * Custom fonts
 */

@font-face {
    font-family: 'UbuntuMono';
    src: url('fonts/UbuntuMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Satisfy';
    src: url('fonts/Satisfy-Regular.ttf') format('truetype');
}
