@font-face {
    font-family: 'UbuntuMono';
    src: url('UbuntuMono-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 10px;
    margin: 0;
    background-color: #101010;
}

#mixer { 
    display: grid; 
    grid-template-columns: repeat(8, 1fr); 
    grid-column-gap: 5px;
    width: 100%;
    height: 100%;
}

.strip {
    display: grid;
    grid-template-rows: 1fr 1fr 0.66fr 0.66fr 4fr;
    grid-row-gap: 20px;
}

.control {
    display: grid;
    justify-content: center;
    align-items: center;
}

g-knob {
    width: 56px;
    height: 56px;
}

g-button {
    width: 74px;
    height: 37px;
    border-radius: 4px;
    color: #fff;
    background-color: #555;
}

g-fader {
    max-width: 37px;
    height: 100%;
}
