@font-face {
    font-family: 'UbuntuMono';
    src: url('UbuntuMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Satisfy';
    src: url('Satisfy-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-width: 800px;
    min-height: 540px;
    margin: 0;
    background: #1a1a1a;
    color: #fff;
    font-family: UbuntuMono;
    font-size: 1em;
}

#overscan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 540px;
    overflow: hidden;
    background: #101010;
}

#top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 37px;
    padding-right: 20px;
    background: #000;
}

#menu {
    display: flex;
    flex-direction: row;
}

#menu g-button {
    height: 37px;
    padding: 0 20px;
    overflow: hidden;
}

#show-about {
    font-family: Satisfy;
    font-size: 1.25em;
    color: #fff;
}

#status {
    flex: 1.0;
    white-space: pre;
    text-align: center;
}

#modal-root {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.66);
    justify-content: center;
    align-items: center;
}

#modal-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    border: solid 1px #1a1a1a;
    border-radius: 4px;
    background: #000;
}

#modal-elem {
    flex: 1;
}

#modal-btns {
    width: 100%;
    text-align: right;
}

#modal-ok {
    width: 74px;
    height: 37px;
    border: solid 1px #fff;
    border-radius: 4px;
}

#mixer { 
    display: grid; 
    grid-template-columns: repeat(8, 1fr); 
    width: 100%;
    height: 100%;
    padding: 10px;
}

.strip {
    display: grid;
    grid-template-rows: 1fr 1fr 0.66fr 0.66fr 4fr;
    color: #fff;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

g-knob {
    width: 56px;
    height: 60px;
    --body-color: #333;
    --range-color: #1a1a1a;
    --pointer-off-color: #000;
    --pointer-on-color: #eee;
}

#mixer g-button {
    width: 74px;
    height: 37px;
    border-radius: 4px;
    background: #333;
}

.fader-cell {
    padding: 15px 0 10px 0;
}

g-fader {
    max-width: 37px;
    height: 100%;
    --body-color: #333;
}


/*
 * Phones
 */

@media (orientation: portrait) {
    body:not(.force-landscape) {
        min-width: 400px;
    }

    #main:not(.force-landscape) {
        width: 400px;
    }

    #mixer:not(.force-landscape) {
        grid-template-columns: repeat(4, 1fr); 
    }
    
    .landscape:not(.force-landscape) {
        display: none;
    }
}


/*
 * Color palette
 */

#strip-1 g-knob {
    --value-color: #7f3fff;
}

#strip-1 g-button {
    color: #7f3fff;
}

#strip-1 g-fader {
    --value-color: #7f3fff;
}

#strip-2 g-knob {
    --value-color: #ff7f3f;
}

#strip-2 g-button {
    color: #ff7f3f;
}

#strip-2 g-fader {
    --value-color: #ff7f3f;
}

#strip-3 g-knob {
    --value-color: #7fff3f;
}

#strip-3 g-button {
    color: #7fff3f;
}

#strip-3 g-fader {
    --value-color: #7fff3f;
}

#strip-4 g-knob {
    --value-color: #ff3f7f;
}

#strip-4 g-button {
    color: #ff3f7f;
}

#strip-4 g-fader {
    --value-color: #ff3f7f;
}

#strip-5 g-knob {
    --value-color: #3f7fff;
}

#strip-5 g-button {
    color: #3f7fff;
}

#strip-5 g-fader {
    --value-color: #3f7fff;
}

#strip-6 g-knob {
    --value-color: #ff7f7f;
}

#strip-6 g-button {
    color: #ff7f7f;
}

#strip-6 g-fader {
    --value-color: #ff7f7f;
}

#strip-7 g-knob {
    --value-color: #3fff7f;
}

#strip-7 g-button {
    color: #3fff7f;
}

#strip-7 g-fader {
    --value-color: #3fff7f;
}

#strip-8 g-knob {
    --value-color: #ffffff;
}

#strip-8 g-button {
    color: #ffffff;
}

#strip-8 g-fader {
    --value-color: #ffffff;
}
