<div id="layout-knobs" data-show-status="true">
    <div class="knob-cell" id="knob-1">
        <g-knob class="control" id="k-01" data-name="Knob 1"></g-knob>
    </div>
    <div class="knob-cell" id="knob-2">
        <g-knob class="control" id="k-02" data-name="Knob 2"></g-knob>
    </div>
    <div class="knob-cell" id="knob-3">
        <g-knob class="control" id="k-03" data-name="Knob 3"></g-knob>
    </div>
    <div class="knob-cell" id="knob-4">
        <g-knob class="control" id="k-04" data-name="Knob 4"></g-knob>
    </div>
    <div class="knob-cell" id="knob-5">
        <g-knob class="control" id="k-05" data-name="Knob 5"></g-knob>
    </div>
    <div class="knob-cell" id="knob-6">
        <g-knob class="control" id="k-06" data-name="Knob 6"></g-knob>
    </div>
    <div class="knob-cell" id="knob-7">
        <g-knob class="control" id="k-07" data-name="Knob 7"></g-knob>
    </div>
    <div class="knob-cell" id="knob-8">
        <g-knob class="control" id="k-08" data-name="Knob 8"></g-knob>
    </div>
    <div class="knob-cell landscape" id="knob-9">
        <g-knob class="control" id="k-09" data-name="Knob 9"></g-knob>
    </div>
    <div class="knob-cell landscape" id="knob-10">
        <g-knob class="control" id="k-10" data-name="Knob 10"></g-knob>
    </div>
    <div class="knob-cell landscape" id="knob-11">
        <g-knob class="control" id="k-11" data-name="Knob 11"></g-knob>
    </div>
    <div class="knob-cell landscape" id="knob-12">
        <g-knob class="control" id="k-12" data-name="Knob 12"></g-knob>
    </div>
    <div class="knob-cell landscape" id="knob-13">
        <g-knob class="control" id="k-13" data-name="Knob 13"></g-knob>
    </div>
    <div class="knob-cell landscape" id="knob-14">
        <g-knob class="control" id="k-14" data-name="Knob 14"></g-knob>
    </div>
    <div class="knob-cell landscape" id="knob-15">
        <g-knob class="control" id="k-15" data-name="Knob 15"></g-knob>
    </div>
    <div class="knob-cell landscape" id="knob-16">
        <g-knob class="control" id="k-16" data-name="Knob 16"></g-knob>
    </div>
</div>
