/*
 * Layout: 8-track mixer
 */

body {
    min-width: 800px;
    min-height: 540px;
}

#main {
    width: 800px;
    height: 540px;
}

#layout-mixer { 
    display: grid; 
    grid-template-columns: repeat(8, 1fr); 
    width: 100%;
    height: 100%;
}

#layout-mixer g-knob {
    width: 56px;
    height: 60px;
}

#layout-mixer g-button {
    width: 74px;
    height: 37px;
    border-radius: 4px;
    background: #333;
}

#layout-mixer g-fader {
    max-width: 37px;
    height: 100%;
}

.mixer-strip {
    display: grid;
    grid-template-rows: 1fr 1fr 0.66fr 0.66fr 4fr;
}

.mixer-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mixer-fader-cell {
    padding: 15px 0 10px 0;
}


/*
 * Phone layout tweaks
 */

@media (orientation: portrait) {
    body {
        min-width: 400px;
    }

    #main {
        width: 400px;
    }

    #layout-mixer {
        grid-template-columns: repeat(4, 1fr); 
    }
}


/*
 * Color palette
 */

#mixer-strip-1 g-knob {
    --value-color: #7f3fff;
}

#mixer-strip-1 g-button {
    color: #7f3fff;
}

#mixer-strip-1 g-fader {
    --value-color: #7f3fff;
}

#mixer-strip-2 g-knob {
    --value-color: #ff7f3f;
}

#mixer-strip-2 g-button {
    color: #ff7f3f;
}

#mixer-strip-2 g-fader {
    --value-color: #ff7f3f;
}

#mixer-strip-3 g-knob {
    --value-color: #7fff3f;
}

#mixer-strip-3 g-button {
    color: #7fff3f;
}

#mixer-strip-3 g-fader {
    --value-color: #7fff3f;
}

#mixer-strip-4 g-knob {
    --value-color: #ff3f7f;
}

#mixer-strip-4 g-button {
    color: #ff3f7f;
}

#mixer-strip-4 g-fader {
    --value-color: #ff3f7f;
}

#mixer-strip-5 g-knob {
    --value-color: #ffff3f;
}

#mixer-strip-5 g-button {
    color: #ffff3f;
}

#mixer-strip-5 g-fader {
    --value-color: #ffff3f;
}

#mixer-strip-6 g-knob {
    --value-color: #3fffff;
}

#mixer-strip-6 g-button {
    color: #3fffff;
}

#mixer-strip-6 g-fader {
    --value-color: #3fffff;
}

#mixer-strip-7 g-knob {
    --value-color: #ff3fff;
}

#mixer-strip-7 g-button {
    color: #ff3fff;
}

#mixer-strip-7 g-fader {
    --value-color: #ff3fff;
}

#mixer-strip-8 g-knob {
    --value-color: #ffffff;
}

#mixer-strip-8 g-button {
    color: #ffffff;
}

#mixer-strip-8 g-fader {
    --value-color: #ffffff;
}
