<div id="layout-pads" data-show-status="false">
    <div class="pad-cell" id="pad-1">
        <g-button mode="momentary" class="control" id="b-01" data-name="Pad 1"></g-button>
    </div>
    <div class="pad-cell" id="pad-2">
        <g-button mode="momentary" class="control" id="b-02" data-name="Pad 2"></g-button>
    </div>
    <div class="pad-cell" id="pad-3">
        <g-button mode="momentary" class="control" id="b-03" data-name="Pad 3"></g-button>
    </div>
    <div class="pad-cell" id="pad-4">
        <g-button mode="momentary" class="control" id="b-04" data-name="Pad 4"></g-button>
    </div>
    <div class="pad-cell landscape" id="pad-5">
        <g-button mode="momentary" class="control" id="b-05" data-name="Pad 5"></g-button>
    </div>
    <div class="pad-cell landscape" id="pad-6">
        <g-button mode="momentary" class="control" id="b-06" data-name="Pad 6"></g-button>
    </div>
    <div class="pad-cell landscape" id="pad-7">
        <g-button mode="momentary" class="control" id="b-07" data-name="Pad 7"></g-button>
    </div>
    <div class="pad-cell landscape" id="pad-8">
        <g-button mode="momentary" class="control" id="b-08" data-name="Pad 8"></g-button>
    </div>
</div>
