/*
 * Layout: Pads grid
 */

body {
    min-width: 600px;
    min-height: 360px;
}

#main {
    width: 600px;
    height: 360px;
}

#layout-pads {
    display: grid;
    grid-template-rows: repeat(2, 128px); 
    grid-template-columns: repeat(4, 128px); 
    justify-content: center;
    align-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

#layout-pads g-button {
    border-radius: 8px;
    background-color: #333;
    width: 100%;
    height: 100%;
}


/*
 * Phone layout tweaks
 */

@media (orientation: portrait) {
    body {
        min-width: 300px;
    }

    #main {
        width: 300px;
    }

    #layout-pads {
        grid-template-columns: repeat(2, 128px); 
    }
}


/*
 * Color palette
 */

#pad-1 g-button {
    color: #7f3fff;
}

#pad-2 g-button {
    color: #ff7f3f;
}

#pad-3 g-button {
    color: #7fff3f;
}

#pad-4 g-button {
    color: #ff3f7f;
}

#pad-5 g-button {
    color: #ffff3f;
}

#pad-6 g-button {
    color: #3fffff;
}

#pad-7 g-button {
    color: #ff3fff;
}

#pad-8 g-button {
    color: #ffffff;
}
